<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SecurityKey" value="Syed Moshiur Murshed"/>
  </appSettings>
  <connectionStrings>
    <add name="ConString" connectionString="Data Source=Mudassar-PC\SQL2005;Initial Catalog=Northwind;Integrated Security=true"/>
    <add name="ConString2" connectionString="Data Source=Mudassar-PC\SQL2005;Initial Catalog=Northwind;Integrated Security=true"/>
  </connectionStrings>
</configuration>